#root {
    width: 256px;
    text-align: center;
}

.url-text {
    max-width: 90%;
    min-width: 90%;
    width: 90%;
}

.qrtext {
    margin-bottom: 10px;
}

.message {
    cursor: pointer;
}

a {
    color: black;
    display: inline-block;
}

div {
    margin-bottom: 5px;
}

.shortcut {
    margin: 0;
    font-size: 20px;
}

.tabLink a {
    border-radius: 4px;
    margin: 2px;
    color: white;
    height: 24px;
    line-height: 24px;
    padding: 0 2px;
    background: #55acee;
    cursor: pointer;
}

.h-line {
    height: 1px;
    background: #cccccc;
}
