body {
    height: 100%;
    background: #cccccc;
}

#root {
    width: 1280px;
    margin: 0 auto;
    height: 100%;
}

.container {
    padding-top: 60px;
}

.search, .nav {
    width: 654px;
    margin: 0 auto;
}

.nav {
    margin-top: 50px;
}

.bg-img {
    background-image: url("https://farm6.staticflickr.com/5469/16783837234_d8eee7d83c_h.jpg");
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


